<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/trainingAssignment12/src/trainingAssignment12/FactoryMethodExample.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="trainingAssignment12.FactoryMethodExample"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="trainingAssignment12"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="trainingAssignment12"/>
</launchConfiguration>
